#игнорируем дефолтный файл диалплана, т.к. от сервера к серверу 
#могут быть разные наборы инклудов. Где-то одна организация, а где-то несколько
extensions.conf
#
#список пользователей не является общим файлом по очевидным причинам
users.conf
#
#наборы сип транков также уникальны на каждом сервере
sip_trunks*
#
#настройки USB модема персональны для каждого сервера
dongle.conf
#
#но не шаблоны транков, их мжно использовать везде
!sip_trunks_tpl.conf
!sip_trunks.conf.sample
#
#персональные диалпланы на то и персональные чтобы быть уникальными
exten.priv.*
!exten.priv.org1.conf.sample
#
#персональный файл провижнинга (переменные хоста)
phoneprov.priv.*
#настройка кластера серверов везде своя
cluster.*
#
#настройка текущей ноды тоже
node.conf
#
#бэкапами не мусорим
*.bak
#
#Ключи так же уникальны
keys
#очереди у каждого свои
queues.conf
#папки организаций
org*
exten.tpl.org*
!exten.tpl.org1.conf

#файлы настройки почты уникальны
muttrc*

#custom yml dev
site_accesses.sh