[general]
static=yes
writeprotect=yes
autofallthrough=yes
clearglobalvars=no
;userscontext=default


[globals]
CONSOLE=Console/dsp
DialOpts=tTrR
DialTime=300
TIMEZONE=GMT+5

;логфайл для сообщений диалплана
Logfile=/var/log/asterisk/ext_messages.log

;в начале персонального файла филиала объявляются переменные, поэтому он идет первым, 
;но в нем самом объявляются персональные контексты, тем самым он закрывает контекст [globals]
;если надо будет заталкивать 2 файла с настройками для разных организаций, то файлы персональных
;настроек надо будет делить отдельно на файл переменных (грузить первыми) и файл контекстов

;подгружаем персональный файл филиала
#include "exten.priv.org1.conf"

;подгружаем файл организации
#include "exten.tpl.org1.conf"

;подгружаем библиотеку макросов
#include "exten.tpl.macro.conf"


