;В этом файле продолжается секция general файла sip.conf
;
;сначала нужно обьявить все нужные глобальные параметры 
;externip=8.9.10.11
localnet=10.0.0.0/255.0.0.0
localnet=192.168.0.0/255.255.0.0

;все регистрации у провайдеров

;register=00012345:PASSWORD@sip.telphin.com:5068/73511234567

;потом нужно обьявить сами транки 
;именование не принципиально, поскольку все ссылки на транки используются в приватном
;файле ./exten.priv.org1.conf

[org1_trunk1](telphin_trunk)
username=00012345
fromuser=00012345
secret=PASSWORD
context=org1_incoming
