;В этом файле продолжается секция general файла sip.conf
;
;сначала нужно обьявить все нужные глобальные параметры 
;externip=94.24.244.234
;localnet=192.168.0.0/16
;localnet=10.0.0.0/8

;все регистрации у провайдеров
register => 3512100530:EfvephadGi@pbx.hypernet.ru/3512100530
;register => 3512100530@pbx.hypernet.ru:EfvephadGi@pbx.hypernet.ru ;/3512100530

;потом нужно обьявить сами транки 
;именование не принципиально, поскольку все ссылки на транки используются в приватном
;файле ./exten.priv.org1.conf

[hypernet_trunk](!)
dtmfmode=rfc2833
canreinvite=no
call-limit=10
context=org1_incoming
host=pbx.hypernet.ru
insecure=invite,port
trustrpid=yes
sendrpid=no
type=friend
nat=rport,comedia
port=5060
qualify=yes
disallow = all
allow = g729,alaw,ulaw

[nppx_hypnet](hypernet_trunk)
secret=EfvephadGi
username=3512100530

